.table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 12px;
}

tr:nth-child(2n) td {
    background-color: #ddd;
}

.head {
    background-color: rebeccapurple;
    color: white;
    text-align: left;
}