.page {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

.page__header,
.page__footer {
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    width: 100%
}

.page__footer {
    margin-top: auto;
}

.c200 {
    padding: 0 60px;
    width: 960px;
}
